# VARIABLES DE ENTORNO - NEW ERA API
# Reemplazar por .env rela | NUNCA subir el enviroment real a Github
PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_DATABASE"

# Genera con: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET="64_carácteres_aleatorios"
JWT_EXPIRES_IN="8h"

FRONTEND_URL="http://localhost:5173"
